#header{
    text-align: center;
    margin: 0 auto;
    background: cornflowerblue;
    color: #ffffff;
}

#header h1{
    padding-top: 30px;
}

p{
    padding: 15px;
}

h2{
    padding: 15px;
    color: darkblue;
}

#sercher{
    padding-top: 20px;
    padding-bottom: 0px;
}

#searching{
    padding-bottom: 30px;
}

.flexCon{
	display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
.flexCon > p {
    /* margin: 0 1% 2em 1%; */
    margin: 0 auto;
    margin-top: 10px;
    /* max-width: 55%;
    min-width: 15%; */
    width: 200px;
    height: 200px;
    padding: 15px;
    background: darkblue;
    border-radius: 10px;
    color: #ffffff;
}

.flexItem{
    width: 210px;
    height: 250px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.flexItem > p {
    /* margin: 0 1% 2em 1%; */
    font-size: 0.75rem;
    margin: 0 auto;
    margin-top: 0px;
    /* max-width: 55%;
    min-width: 15%; */
    color: #ffffff;
}

.flexItem > img{
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.flexCon > h3 {
	margin: 0 auto;
    max-width: 55%;
    min-width: 15%;
    padding: 5px;
    background: #ffffff;
    border-radius: 10px;
    color: cornflowerblue;
}

.flexCon > h3:hover{
    opacity: 0.5;
}

.flexCon > p:hover{
    opacity: 0.5;
}

.flexItem:hover{
    opacity: 0.5;
}


* {
    margin: 0px;
    padding: 0px;
}

